<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Torinit Assignment - Manish Bharti</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleCollapse()"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': !isCollapsed}">
      <ul class="navbar-nav col-md-6">
        <li class="nav-item" *ngIf="isAuthenticated | async">
          <a class="nav-link" href="#" [routerLink]="['/posts']">Posts</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated | async">
          <a class="nav-link" href="#" [routerLink]="['/albums']">Albums</a>
        </li>
        <li class="nav-item" *ngIf="!(isAuthenticated | async)">
          <a class="nav-link" href="#" [routerLink]="['/auth']">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav col-md-6 pull-right">
        <li class="nav-item" *ngIf="isAuthenticated | async">
          <a class="nav-link" *ngIf="isCollapsed" target="_blank"  href="http://{{this.user!.website}}">{{this.user!.name}} ({{this.user!.company!.name}})</a>
          <a class="nav-link" href="#" (click)="onLogout($event)">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
