<div class="row">
  <div class="col-md-12">
    <h3>Todo List
      <span class="toggleTodoSection">
        <input class="styled-checkbox" id="showCheckedOnly" type="checkbox" [(ngModel)]="showCheckedOnly">
        <label for="showCheckedOnly"> <span>Hide Completed Tasks </span></label>
      </span>
    </h3>
    <div class="col-md-12">
      <ul class="todoList" >
        <li *ngFor="let todo of newTodoArray  | FilterChecked: showCheckedOnly  ; let i = index">
          <input class="styled-checkbox" id="todo-{{i+1}}" type="checkbox" [(ngModel)]="todo.completed">
          <label for="todo-{{i+1}}"> <span>{{ todo.title }} </span></label>
        </li>
      </ul>
    </div>
  </div>
</div>
