<div class="row">
  <div class="col-md-12">
    <h3>Posts List <input type="text" [(ngModel)]="queryString" class="searchInput" placeholder="Search title"></h3>
    <div class="col-md-12">
      <ngb-accordion class="accordion-item"  [closeOthers]="true" activeIds="post-0"  *ngIf="posts | async as postsData">
        <ngb-panel id="post-{{i}}" title="Simple" *ngFor="let post of postsData  | FilterPipe: queryString ; let i = index"  title="{{post.title}}">
          <ng-template ngbPanelTitle>
            <span>{{ post.title }} <span class="commentsCount">{{post.comments.length}}</span></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="content">
              {{ post.body }}
            </div>
            <div class="col-md-12">
              <button class="primary-btn pull-left"  [routerLink]="['details', post.id]">Detail</button>
              <!-- <span class="pull-right">{{post.comments.length}}</span> -->
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
