<div class="row">
  <div class="col-md-12">
    <h3>Posts List <input type="text" [(ngModel)]="queryString" class="searchInput" placeholder="Search title"></h3>

    <!-- <table class="table table-striped" *ngIf="posts | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData"  [routerLink]="['details', post.id]">
          <td>{{ post.id }}</td>
          <td style="word-break: break-all">{{ post.title }}</td>
          <td style="word-break: break-all">{{ post.body }}</td>
        </tr>
      </tbody>
    </table> -->
    <div class="col-md-12">
      <ngb-accordion class="accordion-item"  [closeOthers]="true" activeIds="post-0"  *ngIf="posts | async as postsData">
        <ngb-panel id="post-{{i}}" title="Simple" *ngFor="let post of postsData  | FilterPipe: queryString ; let i = index"  title="{{post.title}}">
          <ng-template ngbPanelTitle>
            <span>{{ post.title }}</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="content">
              {{ post.body }}
            </div>
            <div class="col-md-12">
              <button class="primary-btn pull-left"  [routerLink]="['details', post.id]">Detail</button>
              <span class="pull-right">{{post.totalComments}}</span>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
